
body {
    background-color: #F9FCFD;
    font-family: "Courier New";

}

button {
	font-family: "Courier New";
}

input {
	font-family: "Courier New";
}

h1 {
	 border: 5px solid red;
	 padding: 10px;
     cursor: default;
}

#explain {
    cursor: default;
}

.lead {
    cursor: progress;
    padding: 5px 10px; 
    background-color: #00fff0;
    border: 1px solid red;
    
}

.lead_noselected {
	cursor: pointer;
    padding: 6px;
    font-size: large;
}

.lead_noselected:hover {
    background-color: #d8ebea;
}